body {
font-family: Abel;
background-color: rgb(240,240,240);
}
header {
font-family: Anton;
}
/*article styles*/
.headLines {
font-family: Anton;
color: black;
text-decoration: none;
vertical-align:top;
font-size: 1em;
}


/*big button styles*/
#design {
        font-family: Anton;
        color: white;
        width: 5em;
        height: 5em;
        text-decoration: none;
        display: inline-block;
        padding:0;
        margin: 1em;
        border-style: none;
        border-radius: 100%;
        overflow: none;
        font-size: 1.5em;
        background-color: #E6563B;
        border: solid white 8px;
        }
#develop{
        font-family: Anton;
        color: white;
        width: 5em;
        height: 5em;
        text-decoration: none;
        display: inline-block;
        padding:0;
        margin: 1em;
        border-style: none;
        border-radius: 100%;
        overflow: none;
        font-size: 1.5em;
        background-color: #EB9D3A;
        border: solid white 8px;
        }
#support{
        font-family: Anton;
        color: white;
        width: 5em;
        height: 5em;
        text-decoration: none;
        display: inline-block;
        padding:0;
        margin: 1em;
        border-style: none;
        border-radius: 100%;
        overflow: none;
        font-size: 1.5em;
        background-color: #7CB06C;
        border: solid white 8px;
        }
#host   {
         font-family: Anton;
         color: white;
         width: 5em;
         height: 5em;
         text-decoration: none;
         display: inline-block;
         padding:0;
         margin: 1em;
         border-style: none;
         border-radius: 100%;
         overflow: none;
         font-size: 1.5em;
         background-color: #00ABA9;
         border: solid white 8px;
         }

/*small button styles*/
.smallButtons {
display:flex;
flex-flow: row nowrap;
justify-content: flex-end;
align-items: center;
}
.redorange {
            font-family: Anton;
            color: black;
            width: 1.5em;
            height: 1.5em;
            text-decoration: none;
            display: inline-block;
            padding:0;
            margin-left: .25em;
            margin-right: .25em;
            border-style: none;
            border-radius: 100%;
            overflow: none;
            font-size: 2em;
            background-color: #E6563B;
}
.orange {
            font-family: Anton;
            color: black;
            width: 1.5em;
            height: 1.5em;
            text-decoration: none;
            display: inline-block;
            padding:0;
            margin-left: .25em;
            margin-right: .25em;
            border-style: none;
            border-radius: 100%;
            overflow: none;
            font-size: 2em;
            background-color: #EB9D3A;
}
.green {
            font-family: Anton;
            color: black;
            width: 1.5em;
            height: 1.5em;
            text-decoration: none;
            display: inline-block;
            padding:0;
            margin-left: .25em;
            margin-right: .25em;
            border-style: none;
            border-radius: 100%;
            overflow: none;
            font-size: 2em;
            background-color: #7CB06C;
}
.blue {
            font-family: Anton;
            color: black;
            width: 1.5em;
            height: 1.5em;
            text-decoration: none;
            display: inline-block;
            padding: 0;
            margin-left: .25em;
            margin-right: .25em;
            border-style: none;
            border-radius: 100%;
            overflow: none;
            font-size: 2em;
            background-color: #00ABA9;
}
